oactobjs32/boost_1_64_0
oactobjs32/boost_1_64_0.zip

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Bb]uild/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
venv/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio \ VSCode
*.vs
*.vcxproj.filters
*.sdf
*.opensdf
*.vscode